{% extends "base.html" %} {% block content %}

<form method="post" action="/auto_submission">
    <input type="hidden" name="appointment_type" value="visa">
    <h2>Form for visa</h2>
    <div class="main well">
        <div class="form-horizontal visa" role="form">
            <div class="form-group">
                <label class="control-label col-sm-3 col-md-3 col-lg-2" for="GivenName"> Given Name:</label>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <input name="GivenName" type="text" id="GivenName" class="form-control" placeholder="Given name" required></div>
                <label class="control-label col-sm-3 col-md-3 col-lg-2" for="surname">Surname:</label>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <input type="text" name="SurName" id="Surname" class="form-control" placeholder="Surname" required></div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 col-md-3 col-lg-2" for="DOB">Date of Birth:</label>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="input-group date dobdate">
                        <input name="DOB" id="DOB" class="form-control dobdate readonlywhite" placeholder="Date of birth" required>
                        <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 col-md-3 col-lg-2" for="Email">Email:</label>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <input name="Email" type="Email" id="Email" class="form-control" placeholder="Enter email" required=""></div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 col-md-3 col-lg-2" for="AppointType">Appointment Type:</label>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <select name="AppointType" id="AppointType" class="form-control">
                <option>Individual</option>
                <option>Family</option>
                </select>
                </div>
                <label class="control-label col-sm-3 col-md-3 col-lg-2" for="AppsNum"># of Applicants:</label>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <input name="%%Surrogate_AppsNum" type="hidden" value="1">
                    <select name="AppsNum" id="AppsNum" class="form-control" placeholder="Select...">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10 or more</option>
                  </select>
                </div>
            </div>
        <div class="form-group">
            <label class="control-label col-sm-3 col-md-3 col-lg-2" for="PassportNo">Passport Number:</label>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <input name="PassportNo" type="text" id="PassportNo" class="form-control" placeholder="Passport Number" required="">
            </div>
            <label class="control-label col-sm-3 col-md-3 col-lg-2" for="nationality">Nationality:</label>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <select name="Nationality" id="Nationality" class="form-control"  required>
                      <option>
                      </option>
                      <option>Afghanistan, Islamic Republic of
                      </option><option>Albania, Republic of
                      </option><option>Algeria, People's Democratic Republic of
                      </option><option>Angola, Republic of
                      </option><option>Armenia, Republic of
                      </option><option>Azerbaijan, Republic of
                      </option><option>Bahrain, Kingdom of
                      </option><option>Bangladesh, People's Republic of
                      </option><option>Belarus, Republic of
                      </option><option>Benin, Republic of
                      </option><option>Bhutan, Kingdom of
                      </option><option>Bosnia and Herzegovina
                      </option><option>Burkina Faso
                      </option><option>Burma/Republic of the Union of Myanmar
                      </option><option>Burundi, Republic of
                      </option><option>Cambodia, Kingdom of
                      </option><option>Cameroon, Republic of
                      </option><option>Cape Verde, Republic of
                      </option><option>Central African Republic
                      </option><option>Chad, Republic of
                      </option><option>China, People's Republic of
                      </option><option>Colombia, Republic of
                      </option><option>Comoros, Union of the
                      </option><option>Congo, Democratic Republic of
                      </option><option>Congo, Republic of (Brazzaville)
                      </option><option>Cote d'Ivoire, republic of ivory coast
                      </option><option>Cuba, Republic of
                      </option><option>Djibouti, Republic of
                      </option><option>Dominican Republic
                      </option><option>Ecuador, Republic of
                      </option><option>Egypt, arab republic of
                      </option><option>Equatorial Guinea, Republic of
                      </option><option>Eritrea, State of
                      </option><option>Ethiopia, Federal democratic republic of
                      </option><option>Gabon, Republic of
                      </option><option>Gambia, Republic of
                      </option><option>Georgia
                      </option><option>Ghana, Republic of
                      </option><option>Guinea-Bissau, Republic of
                      </option><option>Guinea, Republic of
                      </option><option>Haiti, Republic of
                      </option><option>India, Republic of
                      </option><option>Indonesia, Republic of
                      </option><option>Iran, Islamic Republic of
                      </option><option>Iraq, Republic of
                      </option><option>Jamaica
                      </option><option>Jordan, Hashemite Kingdom of
                      </option><option>Kazakhstan, Republic of
                      </option><option>Kenya, Republic of
                      </option><option>Korea (North), Democratic Republic of
                      </option><option>Kosovo, Republic of
                      </option><option>Kuwait, State of
                      </option><option>Kyrgyzstan
                      </option><option>Laos People's Republic of
                      </option><option>Lebanon, Republic of
                      </option><option>Liberia, Republic of
                      </option><option>Libya, State of
                      </option><option>Macedonia, The former Yuoslav Republic of
                      </option><option>Madagascar, Republic of
                      </option><option>Malawi
                      </option><option>Mali, Republic of
                      </option><option>Marshall Islands, Republic of
                      </option><option>Mauritania, Islamic Republic of
                      </option><option>Mauritius, Republic of
                      </option><option>Micronesia, Federated States of
                      </option><option>Moldova, Republic of
                      </option><option>Mongolia
                      </option><option>Montenegro
                      </option><option>Morocco, Kingdom of
                      </option><option>Mozambique, Republic of
                      </option><option>Namibia, Republic of
                      </option><option>Nepal, Federal Democratic Republic of
                      </option><option>Nigeria, Federal Republic of
                      </option><option>Niger, Republic of
                      </option><option>Oman, Sultanate of
                      </option><option>Pakistan, Islamic Republic of
                      </option><option>Palau, Republic of
                      </option><option>Palestinian National Authority
                      </option><option>Papua New Guinea
                      </option><option>Peru, republic of
                      </option><option>Philippines, Republic of
                      </option><option>Qatar, State of
                      </option><option>Russian Federation
                      </option><option>Rwanda, Republic of
                      </option><option>Sao Tome and Principe, Democratic Republic of
                      </option><option>Saudi Arabia, Kingdom of
                      </option><option>Senegal, Republic of
                      </option><option>Serbia, Republic of
                      </option><option>Sierra Leone, Republic of
                      </option><option>Somalia, Federal Republic of
                      </option><option>Sri Lanka, Democratic Socialist Republic of
                      </option><option>Sudan, Republic of South
                      </option><option>Sudan, Republic of the
                      </option><option>Suriname, Republic of
                      </option><option>Syrian Arab Republic
                      </option><option>Tajikistan
                      </option><option>Tanzania
                      </option><option>Thailand, Kingdom of
                      </option><option>Timor-Leste, Democratic Republic of
                      </option><option>Togo, Republic of
                      </option><option>Tunisia, Republic of
                      </option><option>Turkey, Republic of
                      </option><option>Turkmenistan
                      </option><option>Uganda, Republic of
                      </option><option>Ukraine
                      </option><option>United Arab Emirates
                      </option><option>Uzbekistan, Republic of
                      </option><option>Venezuela (Bolivarian Republic of)
                      </option><option>Vietnam, Socialist Republic of
                      </option><option>Yemen, Republic of
                      </option><option>Zambia, Republic of
                      </option><option>Zimbabwe, Republic of</option></select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3 col-md-3 col-lg-2" for="VisaType">Type of visa:</label>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <select name="VisaType" id="VisaType" class="form-control" placeholder="Select...">
                  <option>Single</option>
                  <option>Multi</option>
                </select>
              </div>
            <label class="control-label col-sm-3 col-md-3 col-lg-2" for="GNIBNo">GNIB Number:</label>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <input name="GNIBNo" type="text" id="GNIBNo" class="form-control" placeholder="GNIB Residence Number" required>
            </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3 col-md-3 col-lg-2">0. Date and time range suitable for appointment</label>
            <div class="col-sm-3 col-md-3 col-lg-3">
            <label> From </label>
              <div class="input-group date">
                <span class="input-group-addon add_form_field visa">
                  <span class="glyphicon glyphicon-plus "></span>
                </span>
                <input name="date_start_0" type='text' class="form-control readonlywhite appointmentdate" placeholder="Select Appointment date" required/></div>
           </div>
           <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="input-group date">
              <label>To</label>
              <input name="date_end_0" type="text" class="form-control readonlywhite appointmentdate" placeholder="Select Appointment date" required/>
            </div>
          </div>
      </div>
    </div>
 <button type="submit" class="btn btn-primary center-block">Submit</button>
  </div>

</form>

<!-------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------->
<form method="post" action="/auto_submission">
<h2>Form for GNIB</h2>
    <input value="gnib" type="hidden" name="appointment_type">
    <div class="main well">
        <div class="form-horizontal gnib" role="form">
            <div class="form-group">
                <label class="control-label col-sm-3 col-md-3 col-lg-2"> Given Name:</label>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <input name="GivenName" type="text" id="GivenName" class="form-control" placeholder="John" required>
                </div>
                <label class="control-label col-sm-3 col-md-3 col-lg-2"> Surname:</label>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <input name="SurName" type="text" id="Surname" class="form-control" placeholder="Smith" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 col-md-3 col-lg-2" for="DOB">Date of Birth:</label>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="input-group date dobdate">
                        <input name="DOB" id="DOB" class="form-control dobdate readonlywhite" placeholder="e.g. 24/12/1990" required>
                        <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>

                <label class="control-label col-sm-3 col-md-3 col-lg-2" for="nationality">Nationality:</label>
                <div class="col-sm-3 col-md-3 col-lg-3">
                <select name="Nationality" id="Nationality" class="form-control"  required>
                      <option>
                      </option>
                      <option>Afghanistan, Islamic Republic of
                      </option><option>Albania, Republic of
                      </option><option>Algeria, People's Democratic Republic of
                      </option><option>Angola, Republic of
                      </option><option>Armenia, Republic of
                      </option><option>Azerbaijan, Republic of
                      </option><option>Bahrain, Kingdom of
                      </option><option>Bangladesh, People's Republic of
                      </option><option>Belarus, Republic of
                      </option><option>Benin, Republic of
                      </option><option>Bhutan, Kingdom of
                      </option><option>Bosnia and Herzegovina
                      </option><option>Burkina Faso
                      </option><option>Burma/Republic of the Union of Myanmar
                      </option><option>Burundi, Republic of
                      </option><option>Cambodia, Kingdom of
                      </option><option>Cameroon, Republic of
                      </option><option>Cape Verde, Republic of
                      </option><option>Central African Republic
                      </option><option>Chad, Republic of
                      </option><option>China, People's Republic of
                      </option><option>Colombia, Republic of
                      </option><option>Comoros, Union of the
                      </option><option>Congo, Democratic Republic of
                      </option><option>Congo, Republic of (Brazzaville)
                      </option><option>Cote d'Ivoire, republic of ivory coast
                      </option><option>Cuba, Republic of
                      </option><option>Djibouti, Republic of
                      </option><option>Dominican Republic
                      </option><option>Ecuador, Republic of
                      </option><option>Egypt, arab republic of
                      </option><option>Equatorial Guinea, Republic of
                      </option><option>Eritrea, State of
                      </option><option>Ethiopia, Federal democratic republic of
                      </option><option>Gabon, Republic of
                      </option><option>Gambia, Republic of
                      </option><option>Georgia
                      </option><option>Ghana, Republic of
                      </option><option>Guinea-Bissau, Republic of
                      </option><option>Guinea, Republic of
                      </option><option>Haiti, Republic of
                      </option><option>India, Republic of
                      </option><option>Indonesia, Republic of
                      </option><option>Iran, Islamic Republic of
                      </option><option>Iraq, Republic of
                      </option><option>Jamaica
                      </option><option>Jordan, Hashemite Kingdom of
                      </option><option>Kazakhstan, Republic of
                      </option><option>Kenya, Republic of
                      </option><option>Korea (North), Democratic Republic of
                      </option><option>Kosovo, Republic of
                      </option><option>Kuwait, State of
                      </option><option>Kyrgyzstan
                      </option><option>Laos People's Republic of
                      </option><option>Lebanon, Republic of
                      </option><option>Liberia, Republic of
                      </option><option>Libya, State of
                      </option><option>Macedonia, The former Yuoslav Republic of
                      </option><option>Madagascar, Republic of
                      </option><option>Malawi
                      </option><option>Mali, Republic of
                      </option><option>Marshall Islands, Republic of
                      </option><option>Mauritania, Islamic Republic of
                      </option><option>Mauritius, Republic of
                      </option><option>Micronesia, Federated States of
                      </option><option>Moldova, Republic of
                      </option><option>Mongolia
                      </option><option>Montenegro
                      </option><option>Morocco, Kingdom of
                      </option><option>Mozambique, Republic of
                      </option><option>Namibia, Republic of
                      </option><option>Nepal, Federal Democratic Republic of
                      </option><option>Nigeria, Federal Republic of
                      </option><option>Niger, Republic of
                      </option><option>Oman, Sultanate of
                      </option><option>Pakistan, Islamic Republic of
                      </option><option>Palau, Republic of
                      </option><option>Palestinian National Authority
                      </option><option>Papua New Guinea
                      </option><option>Peru, republic of
                      </option><option>Philippines, Republic of
                      </option><option>Qatar, State of
                      </option><option>Russian Federation
                      </option><option>Rwanda, Republic of
                      </option><option>Sao Tome and Principe, Democratic Republic of
                      </option><option>Saudi Arabia, Kingdom of
                      </option><option>Senegal, Republic of
                      </option><option>Serbia, Republic of
                      </option><option>Sierra Leone, Republic of
                      </option><option>Somalia, Federal Republic of
                      </option><option>Sri Lanka, Democratic Socialist Republic of
                      </option><option>Sudan, Republic of South
                      </option><option>Sudan, Republic of the
                      </option><option>Suriname, Republic of
                      </option><option>Syrian Arab Republic
                      </option><option>Tajikistan
                      </option><option>Tanzania
                      </option><option>Thailand, Kingdom of
                      </option><option>Timor-Leste, Democratic Republic of
                      </option><option>Togo, Republic of
                      </option><option>Tunisia, Republic of
                      </option><option>Turkey, Republic of
                      </option><option>Turkmenistan
                      </option><option>Uganda, Republic of
                      </option><option>Ukraine
                      </option><option>United Arab Emirates
                      </option><option>Uzbekistan, Republic of
                      </option><option>Venezuela (Bolivarian Republic of)
                      </option><option>Vietnam, Socialist Republic of
                      </option><option>Yemen, Republic of
                      </option><option>Zambia, Republic of
                      </option><option>Zimbabwe, Republic of</option></select>
            </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 col-md-3 col-lg-2" for="Email">Email:</label>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <input name="Email" type="Email" id="Email" class="form-control" placeholder="example@gmail.com" required=""></div>
                <label class="control-label col-sm-3 col-md-3 col-lg-2" for="PassportNo">Passport Number:</label>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <input name="PassportNo" type="text" id="PassportNo" class="form-control" placeholder="Passport Number" required="">
            </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 col-md-3 col-lg-2" for="AppointType"> Category:</label>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <select name="Category" id="category1" class="form-control" required>
                        <option value="">Select Category...</option>
                        <option value="Work">Work</option>
                        <option value="Study">Study</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <label class="control-label col-sm-3 col-md-3 col-lg-2" for="AppointType"> SubCategory:</label>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <select name="SubCategory" id="category2" class="form-control"  disabled="disabled" required>
                        <!-- Work -->
                        <option rel="Work" value="...">Select...</option>
                        <option rel="Work" value="Work Permit Holder">Work Permit Holder</option>
                        <option rel="Work" value="Hosting agreement">Hosting agreement</option>
                        <option rel="Work" value="Working Holiday">Working Holiday</option>
                        <option rel="Work" value="Atypical Working Schemes">Atypical Working Schemes</option>
                        <option rel="Work" value="Invest or Start a Business">Invest or Start a Business</option>
                        <option rel="Work" value="Visiting Academics">Visiting Academics</option>
                        <option rel="Work" value="Doctor">Doctor</option>
                        <option rel="Work" value="3rd Level Graduate Scheme ">3rd Level Graduate Scheme </option>
                        <!-- Study -->
                        <option rel="Study" value="...">Select...</option>
                        <option rel="Study" value="PhD">PhD</option>
                        <option rel="Study" value="Masters">Masters</option>
                        <option rel="Study" value="Higher National Diploma">Higher National Diploma</option>
                        <option rel="Study" value="Degree">Degree</option>
                        <option rel="Study" value="English Language Course">English Language Course</option>
                        <option rel="Study" value="Second Level">Second Level</option>
                        <option rel="Study" value="Pre-Masters">Pre-Masters</option>
                        <option rel="Study" value="Visiting Students">Visiting Students</option>
                        <option rel="Study" value="3rd Level Graduate Scheme">3rd Level Graduate Scheme</option>
                        <!-- Other -->
                        <option rel="Other" value="...">Select...</option>
                        <option rel="Other" value="Lost Card">Lost Card</option>
                        <option rel="Other" value="Stolen Card">Stolen Card</option>
                        <option rel="Other" value="Join family member">Join family member</option>
                        <option rel="Other" value="Permission Letter">Permission Letter</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 col-md-3 col-lg-2" for="AppsNum">I have a GNIB card or I have been registered before:</label>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <select name="ConfirmGNIB" id="category3" class="form-control" placeholder="Select..." required>
                        <option value="Renewal">Yes</option>
                        <option value="New">No</option>
                    </select>
                </div>
                <label class="control-label col-sm-3 col-md-3 col-lg-2 category5" >Expiry date of current GNIB card</label>
                <div  class="col-sm-3 col-md-3 col-lg-3 category5">
                    <div class="input-group date dobdate" >
                        <input id="category5" name="GNIBExDT" class="form-control dobdate readonlywhite">
                        <span id="category5" class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group" rel="Renewal" id="category4">
                <label class="control-label col-sm-3 col-md-3 col-lg-2">GNIB No</label>
                <div class="col-sm-3 col-md-3 col-lg-3">
                  <input name="GNIBNo" type="text" id="GNIBNo" class="form-control" ></div>
                </div>
            <div class="form-group">
                <label class="control-label col-sm-3 col-md-3 col-lg-2">Is this a family application?</label>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <select name="FamAppYN" id="FamAppYN" class="form-control" required>
                        <option>No</option>
                        <option>Yes</option>
                    </select>
                </div>
                <div class="FamAppNo" style="display: none">
                    <label class="control-label col-sm-3 col-md-3 col-lg-2">Number of applicants in family application:</label>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <select name="FamAppNo" id="FamAppNo" class="form-control" placeholder="Select...">
                            <option value="..."> Select ...
                            </option>
                            <option>1
                            </option><option>2
                            </option><option>3
                            </option><option>4
                            </option><option>5
                            </option><option>6
                            </option><option>7
                            </option><option>8
                            </option><option>9
                            </option><option value="10">10 or more</option></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
          <label class="control-label col-sm-3 col-md-3 col-lg-2">0. Date and time range suitable for appointment</label>
            <div class="col-sm-3 col-md-3 col-lg-3">
            <label> From </label>
              <div class="input-group date">
                <span class="input-group-addon add_form_field gnib">
                  <span class="glyphicon glyphicon-plus"></span>
                </span>
                <input name="date_start_0" type='text' class="form-control readonlywhite appointmentdate" placeholder="Select Appointment date" required/></div>
           </div>
           <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="input-group date">
              <label>To</label>
              <input name="date_end_0" type="text" class="form-control readonlywhite appointmentdate" placeholder="Select Appointment date" required/>
            </div>
          </div>
      </div>
        </div>
        <button type="submit" class="btn btn-primary center-block">Submit</button>
    </div>
</form>


<script>
    $('.dobdate').datetimepicker({
        format: 'D/MM/YYYY',
        viewMode: 'years',
        ignoreReadonly: true
    });
    function add_datetimepicker() {
      $('.appointmentdate').datetimepicker({
            useCurrent: false,
            stepping: 30,
            format: 'D-MM-YYYY H:mm',
            viewMode: 'days',
            ignoreReadonly: true,
            toolbarPlacement: 'top',
            minDate: moment().add(1, 'days')
      });
    }
    add_datetimepicker();
</script>

<script>
// script for the visa datetime selector
$(document).ready(function() {
    var max_fields = 10;
    var wrapper = $(".form-horizontal.visa");
    var add_button = $(".add_form_field.visa");
    var x = 0;
    $(add_button).click(function(e){
        e.preventDefault();
        if(x < max_fields){
            x++;
            $(wrapper).append('<div class="form-group" id="visa_date_start_'+x+'"><label class="control-label col-sm-3 col-md-3 col-lg-2">'+x+'. Date and time range suitable for appointment</label>\
            <div class="col-sm-3 col-md-3 col-lg-3"><label for"date_start"> From </label><div class="input-group date" id="remove_visa_form_field"><span class="input-group-addon"><span class="glyphicon glyphicon-minus"></span></span>\
            <input name="date_start_'+x+'" type="text" class="form-control readonlywhite appointmentdate" placeholder="Select Appointment date" required/></div></div><div class="col-sm-3 col-md-3 col-lg-3"><div class="input-group date">\
            <label for"date_end">To</label><input name="date_end_'+x+'" type="text" class="form-control readonlywhite appointmentdate" placeholder="Select Appointment date" required/></div></div>');
            add_datetimepicker();
        }
    });

    $(wrapper).on("click", "#remove_visa_form_field", function(e){
        e.preventDefault();
        $("#visa_date_start_"+x+"").remove();
        x--;
    })
});
</script>
<script>
// script for the GNIB datetime selector
$(document).ready(function() {
    var max_fields = 10;
    var wrapper = $(".form-horizontal.gnib");
    var add_button = $(".add_form_field.gnib");
    var x = 0;
    $(add_button).click(function(e){
        e.preventDefault();
        if(x < max_fields){
            x++;
            $(wrapper).append('<div class="form-group" id="gnib_date_start_'+x+'"><label class="control-label col-sm-3 col-md-3 col-lg-2">'+x+'. Date and time range suitable for appointment</label>\
            <div class="col-sm-3 col-md-3 col-lg-3"><label for"date_start"> From </label><div class="input-group date" id="remove_gnib_form_field"><span class="input-group-addon"><span class="glyphicon glyphicon-minus"></span></span>\
            <input name="date_start_'+x+'" type="text" class="form-control readonlywhite appointmentdate" placeholder="Select Appointment date" required/></div></div><div class="col-sm-3 col-md-3 col-lg-3"><div class="input-group date">\
            <label for"date_end">To</label><input name="date_end_'+x+'" type="text" class="form-control readonlywhite appointmentdate" placeholder="Select Appointment date" required/></div></div>'
          );
            add_datetimepicker();
        }
    });

    $(wrapper).on("click", "#remove_gnib_form_field", function(e){
        e.preventDefault();
        $("#gnib_date_start_"+x+"").remove();
        x--;
    })
});
</script>


<style>
    #category2 option{display:none;}
    #category2 option.label{display:block;}
</style>

<script>
<!-- Links the category and subcategory -->
$(function(){
var cat = $("#category1");
var subcat = $("#category2");

cat.on("change",function(){
    var _rel = $(this).val();
    subcat.find("option").attr("style","");
    subcat.val("");
    if(!_rel) return subcat.prop("disabled",true);
    subcat.find("[rel="+_rel+"]").show();
    subcat.prop("disabled",false);
});
});

$(function(){
var cat2 = $("#category3");
var subcat2 = $("#category4");
var subcat3 = $(".category5");

cat2.on("change",function(){
    var _rel = $(this).val();
    if (_rel == "Renewal"){
        subcat2.show();
        subcat3.show();
    }
    else if (_rel == "New"){
        subcat2.hide();
        subcat3.hide();
        }
    });
});

$(function(){
var cat3 = $("#FamAppYN");
var subcat4 = $(".FamAppNo");

cat3.on("change",function(){
    var _rel = $(this).val();
    if (_rel == "Yes"){
        subcat4.show();
    }
    else if (_rel == "No"){
        subcat4.hide();
        }
    });
});

</script>

{% endblock%}
