<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>IE Dub Visa schedule</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.45/css/bootstrap-datetimepicker.css"
          rel="stylesheet">

    <!-- Latest compiled and minified JavaScript -->

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"
            integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script type="text/javascript"
            src="https://momentjs.com/downloads/moment.js">
    </script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.45/js/bootstrap-datetimepicker.min.js">
    </script>


    <!--<link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet">-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start': new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-T3FXQN');</script>
    <!-- End Google Tag Manager -->

</head>
<body style="padding-top:70px">
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PDJLJZ"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->


<nav class="navbar navbar-fixed-top navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Visa-gnib.info</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Visa</a></li>
            <li><a href="/gnib">GNIB</a></li>

            <li><a style="color:white; background-color: green"  href="/donate"><b>Buy me a coffee :)</b></a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav>
<div class="container">

{% block content %}


{% endblock %}
</div>
<script>
        $('a[href="' + this.location.pathname + '"]').parents('li').addClass('active');
    </script>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker_start').datetimepicker(
                    {
                    useCurrent: false,
                    stepping: 30,
                    format: 'D-MM-YYYY H:mm',
                    viewMode: 'days',
                    ignoreReadonly: true,
                    toolbarPlacement: 'top',
                    minDate: moment(9, "HH").add(2, 'days'),
                    defaultDate: moment(9, "HH").add(2, 'days'),
                }
            );
            $('#datetimepicker_end').datetimepicker(
                    {
                    useCurrent: false,
                    stepping: 30,
                    format: 'D-MM-YYYY H:mm',
                    viewMode: 'days',
                    ignoreReadonly: true,
                    toolbarPlacement: 'top',
                    minDate: moment(9, "HH").add(2, 'days'),
                    defaultDate: moment(21, "HH").add(2, 'days'),
                }
            );


            $("#datetimepicker_start").on("dp.change", function (e) {
                $('#datetimepicker_end').data("DateTimePicker").minDate(e.date);
            });
        });
    </script>
</body>
</html>
