aiohttp==3.1.2
async-timeout==2.0.1
cachetools==2.0.1
certifi==2018.1.18
chardet==3.0.4
dill==0.2.7.1
future==0.16.0
google-auth==1.4.1
google-cloud-core==0.28.1
google-gax==0.16.0
googleapis-common-protos==1.5.3
grpc-google-iam-v1==0.11.4
grpcio==1.10.1
idna==2.6
multidict==3.3.0
ply==3.8
protobuf==3.4.0
psutil==5.4.0
py==1.4.34
pyasn1==0.3.7
pyasn1-modules==0.1.5
pytest==3.2.3
requests==2.18.4
rsa==3.4.2
six==1.11.0
urllib3==1.22
yarl==0.13.0
sqlalchemy
psycopg2
mailjet_rest
