{% extends "base.html" %}

{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.js"  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.42/js/bootstrap-datetimepicker.min.js"  crossorigin="anonymous"></script>


<h2> Get a notification email</h2>
<p> This would only send you <b>one</b> email with the newly discovered slot.<br/>
    Then app will <b>delete the request and the email from the database</b>, so no worries no spam :)
</p>
<br/>

<form name="schedule-request" method="post" action="/notification_request">
    <div class="form-group" >
    <label class="radio-inline input-lg">
    <input type="radio" name="type" id="inlineRadio1" value="Visa" required checked> Visa
  </label>
  <label class="radio-inline input-lg">
    <input type="radio" name="type" id="inlineRadio2" value="GNIB"> GNIB
  </label>
    </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address for notification</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Email" required>
  </div>

    <div class='col-md-5'>
        <div class="form-group">
            <label for="datetimepicker6">From</label>
            <div class='input-group date'  id='datetimepicker6'>
                <input type='text' name="date_start" class="form-control" required/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            </label>
        </div>
    </div>
    <div class='col-md-5'>
        <div class="form-group">
            <label for="datetimepicker7">To</label>
            <div class='input-group date'  id='datetimepicker7'>
                <input type='text' name="date_end" class="form-control" required />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>

    </div>
     <button type="submit" class="btn btn-default">Notify</button>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker6').datetimepicker({
            useCurrent: false, //Important! See issue #1075
            format: "YYYY-MM-DD HH:mm"

        });
        $('#datetimepicker7').datetimepicker({
            useCurrent: false, //Important! See issue #1075
            format: "YYYY-MM-DD HH:mm"

        });
        $("#datetimepicker6").on("dp.change", function (e) {
            $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker7").on("dp.change", function (e) {
            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });
    });
</script>


</form>

{% endblock %}