{% extends "base.html" %} {% block content %}

<form method="post" action="/auto_submission">
    <div class="main well">
        <div class="form-horizontal" role="form">
            <!--Part that his not changed by the trigger-->
            <div class="form-group" id="form-type-selector" style="font-size:18px;">
                <label class="control-label col-sm-6 col-md-6 col-lg-4">Select Appointment type</label>
                <label class="radio-inline ">
                    <input type="radio" name="appointment_type" id="radio_visa" value="visa" checked> Visa
                </label>
                <label class="radio-inline">
                    <input type="radio" name="appointment_type" id="radio_gnib" value="gnib"> GNIB
                </label>
            </div>

            <!-- Auto Submission date range -->
            <div class="form-group">
                <label class="control-label col-sm-3 col-md-3 col-lg-2">Date and time range of an appointment</label>
                <div class="col-sm-3 col-md-3 col-lg-3 datetimepicker">
                    <label> From</label>
                    <input type='text' readonly="true" class="form-control" id='datetimepicker_start' name="datetime_start" required/>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 datetimepicker">
                    <label> To</label>
                    <input type="text" readonly="true" class="form-control" id='datetimepicker_end' name="datetime_end" required/>
                </div>
            </div>

            <!-- Name -->
            <div class="form-group">
                <label class="control-label col-sm-3 col-md-3 col-lg-2" for="GivenName"> Given Name:</label>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <input name="GivenName" type="text" id="GivenName" class="form-control" placeholder="Given name" required></div>
                <label class="control-label col-sm-3 col-md-3 col-lg-2" for="surname">Surname:</label>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <input type="text" name="SurName" id="Surname" class="form-control" placeholder="Surname" required></div>
            </div>

            <div class="form-group">
                <!-- Date of birth -->
                <label class="control-label col-sm-3 col-md-3 col-lg-2" for="DOB">Date of Birth:</label>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="input-group date dobdate">
                        <input name="DOB" id="DOB" class="form-control dobdate" placeholder="Date of birth" required>
                    </div>
                </div>
                <!-- Email -->
                <label class="control-label col-sm-3 col-md-3 col-lg-2" for="Email">Email:</label>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <input name="Email" type="Email" id="Email" class="form-control" placeholder="Enter email" required>
                </div>
            </div>

            <!--Family Application-->
            <div class="form-group">
                <label class="control-label col-sm-3 col-md-3 col-lg-2">Is this a family application?</label>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <select name="FamAppYN" id="FamAppYN" class="form-control" >
                        <option>No</option>
                        <option>Yes</option>
                    </select>
                </div>
                <div class="FamAppNo" style="display: none">
                    <label class="control-label col-sm-3 col-md-3 col-lg-2">Number of applicants in family application:</label>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <select name="FamAppNo" id="FamAppNo" class="form-control" placeholder="Select...">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option value="10">10 or more</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- Nationality and passport number -->
            <div class="form-group">
                <label class="control-label col-sm-3 col-md-3 col-lg-2" for="PassportNo">Passport Number:</label>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <input name="PassportNo" type="text" id="PassportNo" class="form-control" placeholder="Passport Number" required="">
                </div>
                <label class="control-label col-sm-3 col-md-3 col-lg-2" for="nationality">Nationality:</label>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <select name="Nationality" id="Nationality" class="form-control" required>
                        <option selected disabled style='display: none' value=''></option>
                        <option>Afghanistan, Islamic Republic of</option>
                        <option>Albania, Republic of
                    </option><option>Algeria, People's Democratic Republic of
                    </option><option>Angola, Republic of
                    </option><option>Armenia, Republic of
                    </option><option>Azerbaijan, Republic of
                    </option><option>Bahrain, Kingdom of
                    </option><option>Bangladesh, People's Republic of
                    </option><option>Belarus, Republic of
                    </option><option>Benin, Republic of
                    </option><option>Bhutan, Kingdom of
                    </option><option>Bosnia and Herzegovina
                    </option><option>Burkina Faso
                    </option><option>Burma/Republic of the Union of Myanmar
                    </option><option>Burundi, Republic of
                    </option><option>Cambodia, Kingdom of
                    </option><option>Cameroon, Republic of
                    </option><option>Cape Verde, Republic of
                    </option><option>Central African Republic
                    </option><option>Chad, Republic of
                    </option><option>China, People's Republic of
                    </option><option>Colombia, Republic of
                    </option><option>Comoros, Union of the
                    </option><option>Congo, Democratic Republic of
                    </option><option>Congo, Republic of (Brazzaville)
                    </option><option>Cote d'Ivoire, republic of ivory coast
                    </option><option>Djibouti, Republic of
                    </option><option>Dominican Republic
                    </option><option>Cuba, Republic of
                    </option><option>Ecuador, Republic of
                    </option><option>Egypt, arab republic of
                    </option><option>Equatorial Guinea, Republic of
                    </option><option>Eritrea, State of
                    </option><option>Ethiopia, Federal democratic republic of
                    </option><option>Gabon, Republic of
                    </option><option>Gambia, Republic of
                    </option><option>Georgia
                    </option><option>Ghana, Republic of
                    </option><option>Guinea-Bissau, Republic of
                    </option><option>Guinea, Republic of
                    </option><option>Haiti, Republic of
                    </option><option>India, Republic of
                    </option><option>Indonesia, Republic of
                    </option><option>Iran, Islamic Republic of
                    </option><option>Iraq, Republic of
                    </option><option>Jamaica
                    </option><option>Jordan, Hashemite Kingdom of
                    </option><option>Kazakhstan, Republic of
                    </option><option>Kenya, Republic of
                    </option><option>Korea (North), Democratic Republic of
                    </option><option>Kosovo, Republic of
                    </option><option>Kuwait, State of
                    </option><option>Kyrgyzstan
                    </option><option>Laos People's Republic of
                    </option><option>Lebanon, Republic of
                    </option><option>Liberia, Republic of
                    </option><option>Libya, State of
                    </option><option>Macedonia, The former Yuoslav Republic of
                    </option><option>Madagascar, Republic of
                    </option><option>Malawi
                    </option><option>Mali, Republic of
                    </option><option>Marshall Islands, Republic of
                    </option><option>Mauritania, Islamic Republic of
                    </option><option>Mauritius, Republic of
                    </option><option>Micronesia, Federated States of
                    </option><option>Moldova, Republic of
                    </option><option>Mongolia
                    </option><option>Montenegro
                    </option><option>Morocco, Kingdom of
                    </option><option>Mozambique, Republic of
                    </option><option>Namibia, Republic of
                    </option><option>Nepal, Federal Democratic Republic of
                    </option><option>Nigeria, Federal Republic of
                    </option><option>Niger, Republic of
                    </option><option>Oman, Sultanate of
                    </option><option>Pakistan, Islamic Republic of
                    </option><option>Palau, Republic of
                    </option><option>Palestinian National Authority
                    </option><option>Papua New Guinea
                    </option><option>Peru, republic of
                    </option><option>Philippines, Republic of
                    </option><option>Qatar, State of
                    </option><option>Russian Federation
                    </option><option>Rwanda, Republic of
                    </option><option>Sao Tome and Principe, Democratic Republic of
                    </option><option>Saudi Arabia, Kingdom of
                    </option><option>Senegal, Republic of
                    </option><option>Serbia, Republic of
                    </option><option>Sierra Leone, Republic of
                    </option><option>Somalia, Federal Republic of
                    </option><option>Sri Lanka, Democratic Socialist Republic of
                    </option><option>Sudan, Republic of South
                    </option><option>Sudan, Republic of the
                    </option><option>Suriname, Republic of
                    </option><option>Syrian Arab Republic
                    </option><option>Tajikistan
                    </option><option>Tanzania
                    </option><option>Thailand, Kingdom of
                    </option><option>Timor-Leste, Democratic Republic of
                    </option><option>Togo, Republic of
                    </option><option>Tunisia, Republic of
                    </option><option>Turkey, Republic of
                    </option><option>Turkmenistan
                    </option><option>Uganda, Republic of
                    </option><option>Ukraine
                    </option><option>United Arab Emirates
                    </option><option>Uzbekistan, Republic of
                    </option><option>Venezuela (Bolivarian Republic of)
                    </option><option>Vietnam, Socialist Republic of
                    </option><option>Yemen, Republic of
                    </option><option>Zambia, Republic of
                    </option><option>Zimbabwe, Republic of</option>
                    </select>
                </div>
            </div>
            <!-- END Nationality and passport number -->
            <!--END Part that his not changed by the trigger-->
            <div id="visa_fields">
                <h3> Visa form</h3>
                <div class="form-group">
                    <label class="control-label col-sm-3 col-md-3 col-lg-2" for="VisaType">Type of visa:</label>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <select name="VisaType" id="VisaType" class="form-control" placeholder="Select...">
                            <option>Single</option>
                            <option>Multi</option>
                        </select>
                    </div>
                    <label class="control-label col-sm-3 col-md-3 col-lg-2" for="GNIBNo">GNIB Number:</label>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <input name="GNIBNo" type="text" id="GNIBNo" class="form-control" placeholder="GNIB Residence Number">
                    </div>
                </div>
            </div>
            <div id ="gnib_fields" style="display: none;">
                <h3> GNIB form</h3>
                <!--Category and Sub category-->
                <div class="form-group">
                    <!--First item in the form-group-->
                    <label class="control-label col-sm-3 col-md-3 col-lg-2">Category:</label>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <select name="Category" id="category1" class="form-control" >
                            <option value="Work">Work</option>
                            <option value="Study">Study</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <!--Second item in the form-group-->
                    <label class="control-label col-sm-3 col-md-3 col-lg-2" for="category2"> SubCategory:</label>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <select name="SubCategory" id="category2" class="form-control" >
                            <!-- Work -->
                            <option rel="Work" value="Work Permit Holder">Work Permit Holder</option>
                            <option rel="Work" value="Hosting agreement">Hosting agreement</option>
                            <option rel="Work" value="Working Holiday">Working Holiday</option>
                            <option rel="Work" value="Atypical Working Schemes">Atypical Working Schemes</option>
                            <option rel="Work" value="Invest or Start a Business">Invest or Start a Business</option>
                            <option rel="Work" value="Visiting Academics">Visiting Academics</option>
                            <option rel="Work" value="Doctor">Doctor</option>
                            <option rel="Work" value="3rd Level Graduate Scheme ">3rd Level Graduate Scheme </option>
                            <!-- Study -->

                            <option rel="Study" value="PhD">PhD</option>
                            <option rel="Study" value="Masters">Masters</option>
                            <option rel="Study" value="Higher National Diploma">Higher National Diploma</option>
                            <option rel="Study" value="Degree">Degree</option>
                            <option rel="Study" value="English Language Course">English Language Course</option>
                            <option rel="Study" value="Second Level">Second Level</option>
                            <option rel="Study" value="Pre-Masters">Pre-Masters</option>
                            <option rel="Study" value="Visiting Students">Visiting Students</option>
                            <option rel="Study" value="3rd Level Graduate Scheme">3rd Level Graduate Scheme</option>
                            <!-- Other -->

                            <option rel="Other" value="Lost Card">Lost Card</option>
                            <option rel="Other" value="Stolen Card">Stolen Card</option>
                            <option rel="Other" value="Join family member">Join family member</option>
                            <option rel="Other" value="Permission Letter">Permission Letter</option>
                        </select>
                    </div>
                </div>

                <!--GNIB registered before-->
                <div class="form-group">
                    <label class="control-label col-sm-3 col-md-3 col-lg-2" for="category3">I have a GNIB card or I have been registered before:</label>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <select name="ConfirmGNIB" id="category3" class="form-control" placeholder="Select..." >
                            <option value="Renewal">Yes</option>
                            <option value="New">No</option>
                        </select>
                    </div>
                    <label class="control-label col-sm-3 col-md-3 col-lg-2 category5" >Expiry date of current GNIB card</label>
                    <div  class="col-sm-3 col-md-3 col-lg-3 category5">
                        <div class="input-group date dobdate" >
                            <input id="category5" name="GNIBExDT" readonly="true" class="form-control dobdate readonlywhite">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary center-block">Submit</button>
    </div>

</form>

<!-------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------->

<script>

$('input[name=appointment_type]').change(function(){
    if ($(this).val() == 'visa') {
        $("#gnib_fields").hide();
        $("#visa_fields").show();
    }
    else if ($(this).val() == 'gnib') {
        $("#visa_fields").hide();
        $("#gnib_fields").show();
    }
});
</script>
<!--DOB datetime picker-->
<script>
    $('.dobdate').datetimepicker({
        format: 'D/MM/YYYY',
        viewMode: 'years',
        ignoreReadonly: true
    });
    function add_datetimepicker() {
      $('.appointmentdate').datetimepicker({
            useCurrent: false,
            stepping: 30,
            format: 'D-MM-YYYY H:mm',
            viewMode: 'days',
            ignoreReadonly: true,
            toolbarPlacement: 'top',
            minDate: moment().add(1, 'days')
      });
    }
    add_datetimepicker();
</script>

<script>
<!-- Links the category and subcategory for GNIB FORM-->
$(function(){
var cat = $("#category1");
var subcat = $("#category2");

cat.on("change",function(){
    var _rel = $(this).val();
    subcat.find("option").attr("style","");
    subcat.val("");
    if(!_rel) return subcat.prop("disabled",true);
    subcat.find("[rel="+_rel+"]").show();
    subcat.prop("disabled",false);
});
});

$(function(){
var cat2 = $("#category3");
var subcat2 = $("#category4");
var subcat3 = $(".category5");

cat2.on("change",function(){
    var _rel = $(this).val();
    if (_rel == "Renewal"){
        subcat2.show();
        subcat3.show();
    }
    else if (_rel == "New"){
        subcat2.hide();
        subcat3.hide();
        }
    });
});

$(function(){
var cat3 = $("#FamAppYN");
var subcat4 = $(".FamAppNo");

cat3.on("change",function(){
    var _rel = $(this).val();
    if (_rel == "Yes"){
        subcat4.show();
    }
    else if (_rel == "No"){
        subcat4.hide();
        }
    });
});

</script>

<style>
    #category2 option{display:none;}
    #category2 option.label{display:block;}
</style>

{% endblock%}
