{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="container-fluid col-xs-6 col-sm-6">
            <h2>Donate a cup of coffee</h2>
            <p> I've spend quite some time building this tool to automate and make the process of booking an appointment
                for GNIB and visa a little bit easier.
            </p>
            <p>
                I hope this tool helped you find and book and appointment, saving time :)
            </p>
            <p>
                Please consider donating cup of coffee to me, so I could continue making improvements to it!
            </p>

            <a class="btn btn-success"
               href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=W8YA98WHQFC24">Buy me a
                coffee</a>

        </div>
        <div class="row">
            <div class="container-fluid col-sm-6 col-xs-6 " >
                <img src="static/coffee.jpg" alt="cup of coffee" height="220" class="img-rounded">
            </div>
        </div>
    </div>
{% endblock %}